body, input {
    font-family: 'Noto Sans', sans-serif;
}
[onclick] {
    cursor: pointer;
}

connection {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    background-color: lightgray;
}
connection[state="ready"] {
    background-color: lightgreen;
}
connection[type="peer"]::before {
    content: "\01F636";
}
connection[type="server"]::before {
    content: "\01F4BB";
}

conversation {
    float: left;
    margin: 5px;
    border: black 1px solid;
}
conversation:not(.ready) {
    opacity: 0.5;
}
conversation name {
    display: block;
    width: 400px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}
conversation input {
    width: 100%;
}
conversation:not(.ready) input {
    visibility: hidden;
}

messages {
    display: block;
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    background-color: #f6f8fa;
}
messages message {
    display: block;
    padding: 10px;
}
messages message.from {
    text-align: left;
    background: linear-gradient(to left, #f6f8fa, white);
}
messages message.to {
    text-align: right;
    background: linear-gradient(to right, #f6f8fa, white);
}
messages message img {
    max-width: 300px;
}
