conversation {
    float: left;
    margin: 5px;
    border: black 1px solid;
}
conversation name {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
conversation input {
    width: 100%;
}

messages {
    display: block;
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    background-color: #f6f8fa;
}
messages message {
    display: block;
    padding: 10px;
}
messages message.from {
    text-align: left;
    background: linear-gradient(to left, #f6f8fa, white);
}
messages message.to {
    text-align: right;
    background: linear-gradient(to right, #f6f8fa, white);
}
